
body{
    background: #F3F5FC;
    width: 1440px;
    height: 1024px;
}

.logo {
    display: absolute;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

/*Caja para escribir texto*/
.principal{
    position: absolute;
    width: 40%;
    margin: 5% 0 0 10%;
}

.cajaTex {
    position: absolute;
    width: 100%;
    margin: 0 0 0 0;
    height: 600px;
    top: 90px;
    font-family: "calibri";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background-color: #F3F5FC;
    border: black;
    outline: auto;
    box-shadow: 0px 24px 32px -8px rgb(0 0 0 / 8%);
    border-radius: 32px;
    padding: 20px;
    
}



.cajaAlerta {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 229px;
    height: 18px;
    top: 750px;
}

#alerta{
    position: static;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 1px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.condicionantes {
    position: static;
    width: 228px;
    height: 18px;
    left: 24px;
    top: 0px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;

    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

#botones {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 67px;
    margin: 836px 0 0 0;
   
}

#encriptar {
  
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;

    position: static;
    width: 40%;
    height: auto;
    left: 0px;
    top: 0px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 0 0 10%;

    /*nombre*/
    font-family: 'calibri';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 5% 15%;
}

#desencriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;

    position: static;
    width: 40%;
    height: auto;
    left: 352px;
    top: 0px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 0 0 10%;

    /*nombre*/
    font-family: 'calibri';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    padding: 5% 14%;

}

.boton {
    transition: 0.2s all;
    cursor: pointer;
}

.boton:hover{
    transform: scale(1.1);
}

/*Frame de resultado*/
.resultado {
    position: absolute;
    width: 30%;
    height: 944px;
    margin: 0 5% 0 10%;
    top: 40px;
    right: 50px;
    bottom: 40px;
    /* White */
    background: #FFFFFF;

    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.muñeco {
    position: absolute;
    width: 70%;
    height: auto;
    top: 200px;
    right: 75px;
}

.noMensaje {
    position: static;
    width: 100%;
    height: auto;
   

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    /* or 29px */
    text-align: center;

    /* Gray/gray-500 */
    color: #343A40;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 600px 0px;
}

.indicacionMensaje {
    position: static;
    width: 100%;
    height: auto;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    /* or 24px */
    text-align: center;

    /* Gray/gray-400 */
    color: #495057;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: -580px 0px;
}

#desencriptado {
    position: absolute;
    width: 80%;
    height: 600px;
    left: 32px;
    top: 72px;
    background-color: #FFFFFF;
    font-family: 'calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    border: none;
    text-align: initial;
    border-color: none;
}



#copiar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;

    position: absolute;
    width: 40%;
    height: 67px;
    margin: 845px 30% auto 30%;

    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    /*nombre*/
    font-family: 'calibri';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    padding: 5% 16%;
}

/*CSS responsivo smartphones portrait y landscape*/

@media only screen and (min-device-width : 280px) and (max-device-width : 900px)  {
   .logo {
        position: absolute;
        width: auto;
        height: 150px;
        margin: 10% 0;
    }

    .principal{
        position: inherit;
        width: 100%;
        margin: 20% 0 0 10%;
    }

    .cajaTex{
        position: relative;
        width: 80%;        
        height: 750px;
        font-size: 100px;
    }
    .cajaAlerta{
        position: inherit;
        height: 100px;
        width: 100%;
        margin: 4em 0 0 0;
    }

    #alerta{
        width: 50px;
        height: auto;
        padding-top: 50px;
    }

    .condicionantes{
        position: relative;
        font-size: 50px;
        width: 100%;
        margin: 800px 0;
    }

    #botones {
        position: relative;
        display: block;
        width: 90%;
        margin: 10% 0;
    }

    #encriptar, #desencriptar{
        width: 75%;
        margin-bottom: 25px;
        padding: 7% 18%;
        font-size: 100px;
        text-align: center;
    }

   .resultado{
        position: relative;
        width: auto;
        height: 750px;
        margin: 35% 5% 35% 15%;
    }

   .muñeco{
        display: none;
    }

    .noMensaje{
        padding-top: 20%;
        font-size: 75px;
        margin-top: auto;
    }

    .indicacionMensaje{
        font-size: 50px;
    }

    #desencriptado{
        position: relative;
        height: auto;
        font-size: 100px;
        margin: 0 10% 0 10%;
    }

    #copiar{
        font-size: 50px;
        margin: 25% 30%;
    }


}